<pre>
  <code>
    {
      "data": {
        "items": [
          {
            "id": "http://examplemanybotsserver.com/activities/170",
            url: "http://examplemanybotsserver.com/activities/170",
            "title": "<%= "<a href='http://examplemanybotsserver.com/users/1'>Alex Solleiro</a> joined <a href='http://examplemanybotsserver.com'>Manybots Server</a>."%>",
            "summary": "Welcome to Manybots Server",
            "published": "2010-11-09 17:22:41 UTC",
            "tags": [ "manybots", "account"],
            "actor": {
              "id": "http://examplemanybotsserver.com/users/1",
              "url": ""http://examplemanybotsserver.com/users/1",
              "displayName": "Alex Solleiro"
            },
            "object": {
              "id": "http://examplemanybotsserver.com",
              "url": "http://examplemanybotsserver.com",
              "title": "Manybots Server",
              "objectType": "service"
            },
            "verb": "join",
            "icon": {
              "url": "http://examplemanybotsserver.com/icon.png", 
              "width": 32,
              "width": 32,
            },
            "generator" : {
        		  "url" : "http://examplemanybotsserver.com",
        		  "displayName" : "Sample Generator"
            },
            "serviceProvider": {
              "displayName": "Example Manybots Server",
              "url": "http://examplemanybotsserver.com" 
              "image": {
                "url": "http://examplemanybotsserver.com/favicon.png",
                "width": 32,
                "height": 32
              }
            }            
          },
          {
            ...
          }
        ]
      }
    }
  </code>
</pre>