#template.box.clearfix.activity-template
  .box-content.clearfix
    .notification-wrapper.clearfix
      .avatar
        %img.avatar{:src => '', :width => 40, :height => 40}
      .notification
        .title
        %p.via
          %span.published
          via 
          %img.generator.image{:src => '', :width => 16, :height => 16}
          %span.generator.name
          
        .activity.tags
    