.main-content.clearfix

  = render :partial => 'notification'
    
:javascript 
  $(function() {
    var target = $('#template');
    target.hide();
    Notification.listAll('/notifications/all', target);
  });