
<h1 class="page-title" style="">
  Library
  <span class="meta">
    <%= @aggregations.size %> objects
  </span>      
</h1>

<article class="box">
  <div class="box-content">
    <ol>
      <%- for aggregation in @aggregations -%>
        <li><%= aggregation.type_string %>: <%= link_to aggregation.name, aggregation %> (<%= aggregation.total %>)</li>
      <%- end -%>
    </ol>
  </div>
</article>
