<h1 class="page-title" style="">
  Adding more views is easy!
</h1>

<div class="box clearfix">
  <div class="box-content clearfix" style="padding-bottom: 5px;">
    <%= image_tag 'icons/github.png', width: 120, align: 'left', style:'margin-right: 40px;'%>
    <h4 class="page-title">Check out the catalogue </h4>
    <p>We encourage every one to contribute their views to the Manybots Views Catalogue page, on the GitHub's repository page.</p>
    <p class="medium save button" style="float:left; width: 100px; height: 33px;">
      <a href="https://github.com/manybots/manybots/wiki/Applications-Catalogue" class="go-to-app">Go now →</a>
    </p>
  </div> 
</div>


<div class="box clearfix">
  <div class="box-content clearfix" style="padding-bottom: 5px;">
    <%= image_tag 'icons/html5.png', width: 120, align: 'left', style:'margin-right: 40px;'%>
    <h4 class="page-title">Create your own with HTML, CSS and JS</h4>
    <p>
      It only takes a few lines of code to get started, and you don't need anything fancy: just a plain old HTML file!
    </p>
    <p class="medium save button" style="float:left; width: 100px; height: 33px;">
      <a href="https://github.com/manybots/manybots/wiki/Create-a-HTML5-app">Tutorial →</a>
    </p>
    
  </div> 
</div>


<div class="box clearfix">
  <div class="box-content clearfix" style="padding-bottom: 5px;">
    <%= image_tag 'icons/rails.png', width: 120, align: 'left', style:'margin-right: 40px;'%>
    <h4 class="page-title">Bundle them with your apps</h4>
    <p>
      Why not propose an app + a full-blown visualization to your users, instead of just one or the other? Follow the two parts of the Getting Started with Apps tutorial!
    </p>
    <p class="medium save button" style="float:left; width: 100px; height: 33px;">
      <a href="https://github.com/manybots/manybots/wiki/Creating-Apps">Tutorial →</a>
    </p>
    
  </div> 
</div>



<!-- <div class="main-content">
  <div class="box">
    <div class="box-content">
      <h1>New visualization</h1>
      <%= render :partial => 'form' %>
    </div> 
  </div>
</div> -->