<%- unless @inline -%>
  <h4 id="visualization-header" class="page-title">
    <%= @visualization.name %>
    <span class="meta">by <%= link_to @visualization.developer_name, @visualization.developer_url %></span>
  </h4>
  <hr>
<%- end -%>
<iframe src="<%= @visualization.url %>" style="width:100%; height: 800px;">
  
</iframe>
