<section class="main-content">

  <h2 class="special-title">About Manybots</h2>

  <p>Manybots wants to help you <a href="http://blog.manybots.com/post/9955958271/your-personal-information-system" title="Your personal information system">take control of your personal information system</a>. To become a platform to which other platforms connect.</p>

  <p>To do so, Manybots provides:
    <ul>
      <li>A platform to centralize, visualize and re-use your activities</li>
      <li>An app catalogue for application discovery and management</li>
      <li>An API for developers and partners to connect to you</li>
      <li>Custom development services so that you can order your own apps</li>
      <li>Knowledge and discussion around these themes</li>
    </ul>
  </p>
  
  <p>
    Manybots also operates two applications: <a href="https://phown.manybots.com" title="Phown - Own your phones">Phown</a> and <a href="http://contactguru.me" title="Contact Guru - Life's a Pitch? There's an app for that.">Contact Guru</a>.
  <p>
  
    
  <p>Manybots IT Lda. is an early-stage startup operating out of Lisbon, Portugal. We have a solid web background and are setting out to help you own your digital self.</p>

  <p><a href="/contact">Get in touch!</a></p>
  
      
  <center style="margin-top: 40px;">
    <p class="button medium save sign-up" style="width: 280px;">
      <a href="/login"> Start using Manybots now!</a>
    </p>
    <p style="margin-top: -10px;"> It's quick, easy and free. Delete your account anytime.</p>
  </center>

  <h2>Still want to know more?</h2>
  
  <p>&nbsp;</p>

  <h3>A small manifesto</h3>  
    
  <p><strong>If some camera or software "recognizes" you somewhere, shouldn't it give you the option to check-in at that location?</strong></p>
  
  <p>The underpinnings of this funny question are important issues. Owning our personal information system is an opportunity we can seize now.</p>
  
  <p>The modern social enterprise is being designed to answer the following question: individuals come and go, so how do I optimize for rotation? How do I retain and share data, knowledge and sustained, eco-friendly control at the same time?</p>
  
  <p>But it is individuals who should ask the question, explore all it possibilities and invent the answer. Systems, whatever they are, should adapt to people's systems.</p>

  <h3>The exploratory video</h3>
  
  <iframe id="youtube-player" width="640" height="385" src="" frameborder="0" allowfullscreen></iframe>  

  <p>&nbsp;</p>
  
  <h3>Partners</h3>
  
  <p>
    Manybots partners with the following companies:
    <ul>
      <li><a href="http://www.waveweb2.com" title="Waveweb">Waveweb</a>, on Contact Guru for iPhone</li>
      <li><a href="http://www.tasboa.com" title="Tasboa">Tasboa</a>, on Phown for Android</li>
    </ul>
  </p>
  
  
  <h3>Manythanks</h3>

  <p>Major parts of Manybots are built using great technologies and resources made available by the community. In this section, we acknowledge some of these elements and their authors.</p>

  <ul>
    <li><a href="http://rubyonrails.com" title="Ruby on Rails">Ruby on Rails by David H. Hansson and contributors</a></li>
    <li><a href="http://www.activitystrea.ms" title="Activity Streams">Activity Streams, by authors and contributors</a></li>
    <li><a href="http://jquery.com" title="jQuery">jQuery by John Resig and contributors</a></li>
    <li><a href="http://colorpowered.com/colorbox/" title="ColorBox">ColorBox by Jack Moore</a></li>
    <li><a href="http://p.yusukekamiyamane.com" title="Fugue Icons">Fugue Icons by Yusuke Kamiyamane</a></li>
    <li><a href="http://wordpress.com" title="WordPress.com">Wordpress.com (TOS and Privacy Policy)</a></li>
  </ul>

  <p>And more open and free software. To all developers, and the following people, our manythanks:</p>

  <ul class="credits">
    <li><a href="http://andretorgal.com" title="André Torgal">André Torgal</a></li>
    <li><a href="http://waveweb2.com" title="Antonio Rosado">Antonio Rosado</a></li>
    <li><a href="http://tarpipe.com" title="Bruno Pedro">Bruno Pedro</a></li>
    <li><a href="http://mestrejoao.silvaneves.org" title="Gonçalo Catarino">Gonçalo Catarino</a></li>
    <li><a href="http://mestrejoao.silvaneves.org" title="João Neves">João Neves</a></li>
    <li><a href="http://quodis.com/about" title="Leihla Pinho">Leihla Pinho</li>
    <li><a href="http://lmjabreu.com" title="Luis Abreu">Luis Abreu</a></li>
    <li><a href="http://tasboa.com" title="Niko Roberts">Niko Roberts</a></li>
    <li><a href="http://nloureiro.com/" title="Nuno Loureiro">Nuno Loureiro</a></li>
    <li><a href="http://0x82.com" title="Ruben Fonseca">Ruben Fonseca</a></li>
    <li><a href="http://about.me/rui.aires" title="Rui Aires">Rui Aires</a></li>
    <li><a href="http://sergioveiga.com" title="Sergio Veiga">Sergio Veiga</a></li>
    <li><a href="http://quodis.com" title="Quodis">Quodis</a> and <a href="http://liberdade229.com" title="Liberdade 229">Liberdade 229</a></li>
    <li>All early testers and users!</li>
  </ul>
  
  
  

</section>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('iframe#youtube-player').attr('src', 'http://www.youtube.com/embed/DdULQHKNjeU');
  });
</script>