.center{:style => 'text-align: center'}
  %h1{:style => 'font-family: Helvetica, Arial, Sans; font-size: 40px; text-align: center;margin-bottom:5px;'}
    "What's measured, improves"
  %em Peter F. Drucker
  %hr

  .box-content
    %div Aggregate your digital activities from a catalogue of apps and master your digital lifestyle.
    %div Manybots lets us collect & manage our own big data
    %div &nbsp;
    %img{:src => "assets/assembly-line/headless.png"}
    %div
      %strong "The world's information is doubling every two years, with a colossal 1.8 zetabytes to be created and replicated in 2011"
      %div (the equivalent of 57.5 Billion 32 GB iPads)
      %div
        %em Mashable - June, 2011
    %div &nbsp;
    %div We create this data when we surf the internet, use apps, and use devices at home or on the road
    %div Businesses are rushing to leverage this data to serve their goals
    %div
      How can we each use our own big data to improve our lives?
      %a read more
    %div
      &nbsp;
      %div
        %a.btn.btn-large.btn-primary{ :href => 'users/sign_up' } Sign up
      %div &nbsp;
      for Updates or to request access to our Private Beta


