-@activities.group_by {|activity| activity.posted_time.to_date}.each_pair do |key, activities|
  -activities.each do |activity|
    .manybots-item
      = link_to image_tag(gravatar_url_for(activity.user.email), :width => '30px', :height => '30px', :align => "middle"), account_path
      = link_to activity.actor.title, account_path
      sent an
      - unless activity.service_provider_icon.blank?
        %img{:align => "top", :src=> activity.service_provider_icon, :width => "30px", :height => "30px"}
      = link_to activity.object.title, activities_path(params_trick(:objects, activity.object.object_type, params))
      to
      = link_to activity.target.title, activities_path(params_trick(:targets, activity.target.object_type, params))
      - if activity.target.object_type = 'person'
        =activity.target.payload
    %hr