-@activities.group_by {|activity| activity.posted_time.to_date}.each_pair do |key, activities|
  %br
  %h2
    = l key, :format => :long
  -activities.each do |activity|
    %hr{:style=>"margin:10px 0;"}
    .manybots-item
      = activity.title.html_safe
      %br
      %span{ :title=>activity.posted_time, :class=>"quiet" }
        = time_ago_in_words(activity.posted_time)
        ago
  
  %hr{:style=>"margin:10px 0;"}