<div class="clearfix" style="margin: 10px 0 0 150px;">
  <div class="omnisearch-wrapper clearfix">
    <div class="omnisearch-input">
      <input type="text" name="search" value="" id="omnisearch" autocomplete="off" placeholder="Find anything...">
    </div>
  </div>
</div>
<%#= javascript_include_tag 'manybots.omnisearch' %>