<form class="navbar-search pull-left">
  <div class="omnisearch-wrapper">
    <div class="omnisearch-input">
      <input type="text" name="search" value="" id="omnisearch" class="search-query" autocomplete="off" placeholder="Find anything...">
    </div>
  </div>
</form>
<%#= javascript_include_tag 'manybots.omnisearch' %>